<div class="container" *ngIf="addClient" >
    <h1>Add Client</h1>
    <form #form="ngForm" (ngSubmit)="onSubmit()">
        <div class="mb-3">
            <label class="form-label">Firstname</label>
            <input type="text" class="form-control" name="firstName" [(ngModel)]="addClient.firstName">
        </div>
        <div class="mb-3">
            <label class="form-label">Lastname</label>
            <input type="text" class="form-control" name="lastName" [(ngModel)]="addClient.lastName">
        </div>
        <div class="mb-3">
            <label class="form-label">Email</label>
            <input type="text" class="form-control" name="email" [(ngModel)]="addClient.email">
        </div>
        <div class="mb-3">
            <label class="form-label">Phone</label>
            <input type="text" class="form-control" name="phone" [(ngModel)]="addClient.phone">
        </div>
        <div class="mb-3">
            <button class="primary">Register</button>
        </div>
      </form>
</div>