<div class="dash-wrapper">
    <table>
        <th>ClientId</th>
        <th>First Name</th>
        <th>Last Name</th>
        <th>Email</th>
        <th>Phone</th>
        <tbody>
            <tr *ngFor="let clients of bankClients">
                <td>{{ clients.clientId }}</td>
                <td>{{ clients.firstName }}</td>
                <td>{{ clients.lastName }}</td>
                <td>{{ clients.email }}</td>
                <td>{{ clients.phone }}</td>
            </tr>
        </tbody>
    </table>
</div>