<div class="client-container" *ngIf="bankClient && clientTransaction" >
    <div class="profile-nav">

    </div>
    <div class="profile-body">
        <div class="profile-sidebar">
            <ul>
                <li>
                    <a href="" [routerLink]="['/client-details', bankClient.id]">Profile</a>
                </li>
                <li>
                    <a href="" [routerLink]="['/my-deposits', bankClient.id]">Deposits</a>
                </li>
                <li>
                    <a href="" [routerLink]="['/my-withdrawals', bankClient.id]">Withdrawals</a>
                </li>
            </ul>
        </div>
        <div class="profile-wrapper">
            <!-- <h1>My Profile</h1> -->
            <div class="profile-details-nav">
    
            </div>
            <div class="profile-details-body">
                <div class="client-update-btn">
                    <button [routerLink]="['/deposit', bankClient.id]">Deposit Cash</button>
                </div>
                <div class="client-details">
                    <div class="det-pair">
                        <div class="info"></div>
                        <div class="info"></div>
                    </div>
    
                    <!-- <form #form="ngForm">
                        <div class="info">
                            <div class="mb-3">
                                <label class="form-label">Transaction Date</label>
                                <input type="text" class="form-control" name="Transaction Date" [(ngModel)]="clientTransaction.transactionDate" disabled>
                            </div>
                        </div>
                        <div class="info">
                            <div class="mb-3">
                                <label class="form-label">Transaction Amount</label>
                                <input type="text" class="form-control" name="Transaction Amount" [(ngModel)]="clientTransaction.transactionAmount" disabled>
                            </div>
                            <div class="mb-3">
                                <label class="form-label">Account Balance</label>
                                <input type="text" class="form-control" name="Account Balance" [(ngModel)]="clientTransaction.accountBalance" disabled>
                            </div>
                        </div>
                        
                       
                      </form> -->

                      <table class="table table-striped">
                        <th></th>
                        <th>Transaction Id</th>
                        <th>Transaction Date</th>
                        <th>Transaction Amount</th>
                        <th>Account Balance</th>
                        <tbody>
                            <tr *ngFor="let deposit of clientTransaction ; let indexOfelement=index">
                                <td>
                                    {{indexOfelement + 1}}
                                </td>
                                <td class="client-id" >{{ deposit.id }}</td>
                                <td>{{ deposit.transactionDate }}</td>
                                <td>{{ deposit.transactionAmount }}</td>
                                <td>{{ deposit.accountBalance }}</td>
                                <td>
                                    <a [routerLink]="['/admin/client', deposit.id]">View</a>
                                </td>
                                
                            </tr>
                        </tbody>
                    </table>
                </div>
            </div>
        </div>
    </div>
    
   

      
</div>