<div class="main-container">
    <form action="">
        <div class="reg-pair">
            <input type="text" name="firstname" id="firstname" placeholder="Firstname">
            <input type="text" name="lastname" id="lastname" placeholder="Lastname">
        </div>
        <div class="reg-pair">
            <input type="email" name="email" id="email" placeholder="Email">
            <input type="text" name="phone" id="phone" placeholder="Phone">
        </div>
        <div class="reg-pair">
            <input type="text" name="street" id="street" placeholder="Street">
            <input type="text" name="zipcode" id="zipcode" placeholder="Zipcode">
        </div>
        <div class="reg-pair">
            <input type="text" name="city" id="city" placeholder="City">
            <input type="datetime-local" name="joindate" id="joindate">
        </div>
        <div class="reg-pair">
            <input type="password" name="password" id="password" placeholder="Password">
            <input type="password" name="confirm password" id="confirm-password" placeholder="Confirm Password">
        </div>
        <input class='login-btn'type="button" value="Register">
    </form>
</div>