<div class="container" *ngIf="bankClient" (ngSubmit)="onSubmit()">
    <h1>View Client</h1>
    <form #form="ngForm">
        <div class="mb-3">
          <label class="form-label">Id</label>
          <input type="text" class="form-control" name="id" [(ngModel)]="bankClient.id">
        </div>
        <div class="mb-3">
            <label class="form-label">Firstname</label>
            <input type="text" class="form-control" name="firstName" [(ngModel)]="bankClient.firstName">
        </div>
        <div class="mb-3">
            <label class="form-label">Lastname</label>
            <input type="text" class="form-control" name="lastName" [(ngModel)]="bankClient.lastName">
        </div>
        <div class="mb-3">
            <label class="form-label">Email</label>
            <input type="text" class="form-control" name="email" [(ngModel)]="bankClient.email">
        </div>
        <div class="mb-3">
            <label class="form-label">Phone</label>
            <input type="text" class="form-control" name="phone" [(ngModel)]="bankClient.phone">
        </div>
      </form>
</div>